body {
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
        width: 400px;
        height: 420px;
      }
      #couponProgress{
        padding:10px;
        background-image: url("../img/2_bottom.png");
        background-size: 400px 70px;
        position: fixed;
        margin-bottom: 0px;
        height: 140px;
        width: 100%;
      }
      #main{
        height: 350px;
      }
      #p1{
          width: 150px;
          margin-left: 45%;
          margin-top: 20px;
      }
      label{
        margin: 12px;
      }
      #qno{
        float:right;
        color:white;
        margin-right: 8%;
        margin-top: -12px;
      }
      #question{
        margin-left: 10%;
        margin-top: 20px;
      }
      #status {
        /* avoid an excessively wide status text */
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .cuopons{
        display: inline-block;
        border: 1px solid #ECEDE8;
        margin: 10px 10px;
        overflow: hidden;
        height: 140px;
        width: 140px;
      }
      .qimages{
        display: inline-block;
        margin: 5px 5px;
        overflow: hidden;
        width: 80px;
        height: 80px;
      }
      .crop{
        display: block;
        max-width:80px;
        max-height:55px;
        width: auto;
        height: 55px;
      }
      #profileImage{
        margin-left: 61%;
        height: 50px;
        width: 50px;
      }