.main-header,
#create-survey .mdl-layout__tab-bar {
  height: 48px;
  min-height: 48px;
}
.logo {
  pointer-events: none;
}
.mdl-grid.mdl-grid--no-spacing.right-side-container {
  padding-top: 50px;
}
#create-survey .mdl-layout__tab-bar {
  background-color: transparent;
}
#create-survey .mdl-layout__tab {
  color: #000;
}
