
@tab-height: 48px;
.main-header, #create-survey .mdl-layout__tab-bar{
	height: @tab-height;
	min-height: @tab-height;
}
.logo{
	pointer-events: none;
}
.mdl-grid.mdl-grid--no-spacing.right-side-container{
	padding-top: 50px;
}
#create-survey{
	.mdl-layout__tab-bar{
		background-color: transparent;
	}
	.mdl-layout__tab{
		color: #000;
	}

}

#user-form{
	float:right;
	border: 1px solid #a3a3a3;
	padding: 20px;
}

#done{
	background: #4abcb7;
	color: white;
}