
@tab-height: 48px;
.main-header, #create-survey .mdl-layout__tab-bar{
	height: @tab-height;
	min-height: @tab-height;
}
.logo{
	pointer-events: none;
}
#create-survey{
	.mdl-layout__tab-bar{
		background-color: transparent;
	}
	.mdl-layout__tab{
		color: #000;
	}

}